<div style="justify-content: space-evenly;" class="row g-0">
    <div class="col-md-8">

        <div>
            <owl-carousel-o  [options]="customOptions">
                <ng-template carouselSlide><img style="border-radius: 15px;" height="400px" class="w-100 object-fit-cover" src="images/main-slider-2.jpeg" ></ng-template>
                <ng-template carouselSlide><img style="border-radius: 15px;" height="400px" class="w-100 object-fit-cover" src="images/main-slider-3.jpeg " ></ng-template>
                <ng-template carouselSlide><img style="border-radius: 15px;" height="400px" class="w-100 object-fit-cover" src=" images/main-slider-1.jpeg " ></ng-template>
            </owl-carousel-o>
        </div>
    </div>
    <div class="col-md-3">
        <div>
            <img style="border-radius: 15px;" height="200px" class="w-100 object-fit-cover" src="images/blog-img-1.jpeg" alt="">
            <img style="border-radius: 15px;" height="200px" class="w-100 object-fit-cover mt-2" src="images/blog-img-2.jpeg" alt="">
        </div>
    </div>
</div>